*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    height: 200px;
    justify-content: center;

}

.card-container {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.card{
    border-radius: 20px;
    background-color: rgb(212, 168, 183);
    width: 250px;
    box-shadow: rgb(9, 14, 19) 0px 20px 30px -10px;
    display: flex;
    flex-direction: column;

}
.card:hover{
    transform: translateY(-10px);


}

.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content{
    padding: 20px;
    text-align: center;
    flex-grow: 1;

}

.card-content p{
    font-size: 20px;
    color: rgb(21, 24, 24);
    margin-bottom: 10px;

}
