*{
    margin: 0p;
    padding: 0px;
    box-sizing: border-box;
}
/* max-width */
.box{
    background-color:palevioletred;
    /* width: 300px; */
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
}

.box1{
    background-color: plum;
    max-width: 400px;
}

.box2{
    background-color:burlywood;
    max-width: 300px;
}

/* min-width */
.boxA{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: inline-block;
    /*width: 600px;*/
}

.box3{
    background-color: aquamarine;
    min-width: 600PX;

}

.box4{
    background-color:brown;
    min-width:600px ;

}

/* min-hight */
.boxB{
    margin-bottom: 0px;
    padding: 0px;
    

}

.box5{
    background-color: goldenrod;
    min-height: 60PX;

}

.box6{
    background-color:rgb(42, 165, 118);
    min-height:60px ;

}
/* max-hight */
.boxC{
    margin-bottom: 20px;
    padding: 20px;
    

}

.box7{
    background-color: rgb(218, 60, 32);
    min-height: 60PX;

}

.box8{
    background-color:rgb(54, 42, 165);
    min-height:60px ;

}

