*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{background-color: rgb(250, 208, 167);

}
/* fix/ */
.container {
     max-width: 1320px; 
    /* max-width: 1140px; */
    /* padding: 0 20px; */
    margin:0 auto;
}

header .container {
    height: 300px;
    background-color: palevioletred;
    width: 900px;

}
main .container {
    height: 300px;
    background-color: rgb(132, 199, 207);
     width: 900px;


}