  

        .city {
            color:blue
        

        }

        #cg{
            color:brown;
            font-size: 35px;
            background: palevioletred;
        }
        body { 
            background: rgb(129, 179, 31);
        }
body{
    background: palegreen;
}
    
